<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5>{{ site.title }} <span>{{ site.data.messages.locales[site.locale].toc }}</span></h5>
  <ul class="menu-item">
   	<li>
      <a href="https://sarahrider.github.io/fun-website-test/pages/jade-001.html">
      <img src="https://raw.githubusercontent.com/sarahrider/fun-website-test/master/images/jade001_teaser_img.jpg" alt="teaser" class="teaser">
        <div class="title">jade001</div>
        <<figcaption>中亞 玉厚足碗 附裱錦木匣. <b>
          </b>National Palace Museum Taiwan, Taipei, Taiwan. <b>
          </b> Accession Number:古玉0636 CC-BY-4.0</figcaption>>
		<p class="excerpt">Information Page with text analysis and mapping.
      </a>
	  </li>

	<li>
		<a href="https://sarahrider.github.io/fun-website-test/pages/defining-hindustan.html">
			<img src="https://raw.githubusercontent.com/sarahrider/fun-website-test/master/images/qianlong_cma.jpg" alt="teaser" class="teaser">
			<div class="title">Defining Hindustan</div>
			<p class="excerpt">A closer look at jade010 and jade011 in creating the term 'Hindustan' by Emperor Qianlong.</p>
		</a>
		</li>

	<li>
		<a href="https://sarahrider.github.io/fun-website-test/pages/texts-images-collection.html">
			<img src="https://raw.githubusercontent.com/sarahrider/fun-website-test/master/images/Jade019_NPMT_case.jpg" alt="teaser" class="teaser">
			<div class="title">Texts and Images Collection</div>
			<p class="excerpt">Tab for housing all of our jade static images and texts.</p>
		</a>
		</li>

	<li>
		<a href="https://sarahrider.github.io/fun-website-test/pages/search_tab.html">
			<img src="https://raw.githubusercontent.com/sarahrider/fun-website-test/master/images/search_icon.jpg" alt="teaser" class="teaser" width="250" height="250">
		<div class="title">Search</div>
		<p class="excerpt">Can't find what you're looking for? Use our search tab.</p>
		</a>
		</li>

  </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
